@import 'variables';

:export {
  text_primary: $text_primary;
  text_secondary: $text_secondary;
  text_blue_accent: $text_blue_accent;
  text_logo: $text_logo;
  white_06: $white_06;
  white_05: $white_05;
  ligth_grey_04: $ligth_grey_04;
  light_grey_03: $light_grey_03;
  grey_02: $grey_02;
  black_01: $black_01;
}
