@import '@styles/variables';

.container {
  padding: 20px;
}
.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 28px 0;
  @media (max-width: 1150px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32.78px;
  text-align: left;
  padding-bottom: 16px;
  border-bottom: 1px solid $ligth_grey_04;
}
.infoBlock {
  display: flex;
  justify-content: space-between;
}
