@import '@styles/variables';

.container {
  background-color: $white_06;
}
.containerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $headerHeight;
  max-width: $maxWidth;
  margin: 0 auto;
}
