$text_primary: #161616;
$text_secondary: #9C9C9C;
$text_blue_accent: #22A0BC;
$text_logo: #333153;

$white_06: #FDFDFD;
$white_05: #F4F4F4;
$ligth_grey_04: #DADADA;
$light_grey_03: #9C9C9C;
$grey_02: #595959;
$black_01: #161616; 
$error: #ff4c4c;