@import '@styles/variables';

.container {
  background-color: $white_06;
  padding: 40px;
  border-radius: 16px;
  @media (max-width: 480px) {
    padding: 28px;
  }
}

.userPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userPhoto img {
  border-radius: 8px;
  width: 280px;
  height: auto;
  max-height: 485px;

  @media (max-width: 480px) {
    width: 287px;
    height: auto;
    max-height: 187px;
  }

  object-fit: cover;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 40px;
}
.menuItems {
  padding: 12px 0;
  border-bottom: 1px solid $ligth_grey_04;
}
.menuLink {
  color: $light_grey_03;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.86px;
  @media (max-width: 480px) {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.12px;
  }
}
.active {
  color: $text_primary;
}
